<section class="container-fluid py-section bg-primary">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6">
                <h3 class="bold_48 text-white ">¿Buscas el lugar perfecto?</h3>
                <p class="regular_22 text-white my-4">Podemos ayudarte a tener el espacio perfecto para tu negocio.</p>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <button class="btn btn-lg btn-white contact_boton regular_24 py-3 px-5 md_full_btn">Contactar</button>
            </div>
        </div>
    </div>
</section>
