<section id="card_bottom" class="bg-gray" style="min-height: 750px; position: relative;">
    <div class="card text-white   position-absolute bottom-0 start-50 translate-middle-x talk_card">
        <div class="card-body position-relative">
            <div class="row justify-content-around align-items-center">
                <div class="col-md-8 py-5">
                    <h5 class="card-title banner_centered">Habla con nosotros directamente</h5>
                    <p class="card-text py-3 regular_24">No dejes pasar esta oportunidad.</p>
                    <button type="button" class="btn btn-primary px-5 py-3">Llamar ahora</button>
                </div>
                <div class="col-md-3 position-relative p-5 none_card_"></div>
                <img src="assets/images/draw.png" class="position-absolute bottom-0 end-0" style="max-width: 400px;">
            </div>
        </div>
    </div>
</section>
