<footer class="container-fluid text-white" style="padding: 10em 0 10em; background-color: #071C1F;">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-md-3">
                <img src="https://bexpress.mx/proyectos/constructora/assets/images/logofull.png" class="img-fluid">
                <p class="my-4 text-start" descripcion>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of the printing.</p>
                <ul class="list-unstyled regular_16">
                    <li class="my-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-geo-alt align-middle me-2" height="20" viewbox="0 96 960 960" width="48"><path d="M480.089 566Q509 566 529.5 545.411q20.5-20.588 20.5-49.5Q550 467 529.411 446.5q-20.588-20.5-49.5-20.5Q451 426 430.5 446.589q-20.5 20.588-20.5 49.5Q410 525 430.589 545.5q20.588 20.5 49.5 20.5ZM480 897q133-121 196.5-219.5T740 504q0-117.79-75.292-192.895Q589.417 236 480 236t-184.708 75.105Q220 386.21 220 504q0 75 65 173.5T480 897Zm0 79Q319 839 239.5 721.5T160 504q0-150 96.5-239T480 176q127 0 223.5 89T800 504q0 100-79.5 217.5T480 976Zm0-472Z"/></svg>
                        <path d=""></path>
                    </li>
                </svg> <span direccion>Piedras negras, Coahuila, México</span></li>
            <li class="my-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-geo-alt align-middle me-2" height="20" viewbox="0 96 960 960" width="48"><path xmlns="http://www.w3.org/2000/svg" d="M260 1016q-24 0-42-18t-18-42V196q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm0-90v30h440v-30H260Zm0-60h440V286H260v580Zm0-640h440v-30H260v30Zm0 0v-30 30Zm0 700v30-30Z"/></svg>
                <span telefono>+52 878 138 3809</span>
            </li>
            <li class="my-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-geo-alt align-middle me-2" height="20" viewbox="0 96 960 960" width="48"><path xmlns="http://www.w3.org/2000/svg" d="M140 896q-24 0-42-18t-18-42V316q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-302L140 371v465h680V371L480 594Zm0-60 336-218H145l335 218ZM140 371v-55 520-465Z"/></svg>
                <span correo>mail@example.com</span>
            </li>
        </ul>
    </div>
    <div class="col-md-2 text-center format_footer">
        <h5 style="text-align: left;">Empresa</h5>
        <ul class="list-unstyled">
            <li style="text-align: left;">
                <a href="#">About</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Blog</a>
            </li>
            <li style="text-align: left;">
                <a href="#">All products</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Contact</a>
            </li>
            <li style="text-align: left;">
                <a href="#">FAQ</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 text-center format_footer">
        <h5 style="text-align: left;">Servicios</h5>
        <ul class="list-unstyled">
            <li style="text-align: left;">
                <a href="#">Cart</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Whislist</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Login</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Checkout</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Terms & Conditions</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Promocional Offers</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 text-center format_footer">
        <h5 style="text-align: left;">Customer</h5>
        <ul class="list-unstyled">
            <li style="text-align: left;">
                <a href="#">Login</a>
            </li>
            <li style="text-align: left;">
                <a href="#">My Account</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Wishlist</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Add list</a>
            </li>
            <li style="text-align: left;">
                <a href="#">FAQ</a>
            </li>
            <li style="text-align: left;">
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 text-center format_footer">
        <h5 style="text-align: left;">Customer</h5>
        <p class="text-start" class="my-4">Subscribe to our weekly Newsletter and receive updates via email.</p>
        <div class="input-group">
            <input type="text" class="form-control border-0 rounded-0" placeholder="Correo electronico...">
            <button class="btn btn-primary border-0 rounded-0 mail_btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="25" viewbox="0 96 960 960" width="25"><path style="fill: white !important;" d="M162 878q-15 6-28.5-2.5T120 851V674q0-11 6.5-19t16.5-10l279-69-279-71q-10-2-16.5-10t-6.5-19V301q0-16 13.5-24.5T162 274l652 274q18 8 18 28t-18 28L162 878Z"/></svg>
            </button>
        </div>

    </div>
</div></div></footer>
