<div class="ltn__shop-details-area pb-10">
    <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div id="propiedad_slider" class="swiper-wrapper">
      <!-- Slides -->
      
      
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 col-md-12">
                <div id="propiedad_contenido">
                    
                </div>
                
            </div>
            <div class="mb-5 col-lg-4">
                <aside
                    class="sidebar ltn__shop-sidebar ltn__right-sidebar---">
                    <div class="card ltn__author-card">
                        <img class="card-img-top rounded-circle mx-auto d-block logoprop" src="https://bexpress.mx/proyectos/constructora/assets/images/logo.png" alt="Image">
                        <div class="card-body text-center">
                            <h5 class="card-title">Flaterns</h5>
                            <p class="card-text">Proyectos y propiedades</p>
                            <p class="card-text">Somos una empresa dedicada a la construcción y venta de propiedades en todo el país. Nos enorgullece ofrecer a nuestros clientes los mejores diseños y acabados de alta calidad en cada una de nuestras construcciones. Nos esforzamos en brindar un servicio personalizado y una experiencia única en cada etapa de su proyecto.</p>
                        </div>
                    </div>
                    
                </aside>
            </div>
        </div>
    </div>
</div>
<div id="script">

</div>