<section class="container-fluid bg-dark">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center my-5">
        <div class="w-75" style="padding-left: 50px;">
          <h1 class="text-white empresa_nombre" seccion3_titulo>Capital humano capacitado.</h1>
          <p class="text-white" seccion3_descripcion>North Railcenter Park se encuentra estratégicamente ubicado a un costado de la UTNC - Universidad
Tecnológica del Norte de Coahuila, lo que representa una gran oportunidad para las empresas que
buscan talento altamente capacitado. Con una gran población estudiantil, la UTNC está lista para
proporcionar profesionales preparados para cubrir los próximos puestos de trabajo que las empresas
estarán ofertando. Además, North Railcenter Park ofrece instalaciones de vanguardia y servicios de
alta calidad, lo que lo convierte en la opción perfecta para las empresas que buscan establecerse en
un lugar con un gran potencial de recursos humanos y tecnológicos</p>
        </div>
      </div>
      <div class="col-lg-6 position-relative p-0">
        <img src="https://bexpress.mx/proyectos/constructora/assets/images/empresa1.png" class="img-fluid w-100" style="heigth:100%;  object-fit:cover">
        <!-- <div class="position-absolute bottom-0 mb-5 start-50">
          <button type="button" class="btn btn-outline-light rounded-circle mx-1"></button>
          <button type="button" class="btn btn-outline-light rounded-circle mx-1"></button>
          <button type="button" class="btn btn-outline-light rounded-circle mx-1"></button>
        </div> -->
      </div>        
    </div>
    </section>