<section style="background-color: #F4F3F8;">
    <div class="container py-5">
        <h1 class="top_banner mt-4">Buscar propiedades</h1>
        <p class="banner_sub">Inicio  >  propiedades</p>
    </div>
</section>
<section>
    <div class="container py-5">
        <div class="row justify-content-between d-flex">
            <div class="col-7">
                <div class="row d-flex">
                    <div class="col-12 text-center">
                      <a href="javascript:void(0)" id="resultados" class="results">
                        
                      </a>
                    </div>
                  </div>
                  <div class="input-group my-5">
                    <input type="text" class="form-control busqueda_input" placeholder="Escribe una palabra clave...">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary bg-primary d-block search_btn" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 512 512">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <span id="prop_html"></span>                          
            </div>
            <div class="col-4">
              <h3>Filtros avanzados</h3>
              <p id="total_results"></p>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Tipo de compra</h5>
                  <div class="form-check">
                      <input class="form-check-input tipo_venta" type="radio" valor="2" value="2" id="option1" name="tipo_venta">
                      <label class="form-check-label" for="option1">
                          Renta
                      </label>
                      <!-- <span class="badge badge-custom ml-2">20</span> -->
                  </div>
                  <div class="form-check">
                      <input class="form-check-input tipo_venta" type="radio" valor="1" value="1" id="option2" name="tipo_venta"  >
                      <label class="form-check-label" for="option2">
                          Venta
                      </label>
                      <!-- <span class="badge badge-custom ml-2">15</span> -->
                  </div>                
                </div>
              </div>
              <div class="card mt-5">
                <div class="card-body">
                  <h5 class="card-title">Rango de Precio</h5>
                  <form>
                    <div class="form-group">
                      <label for="minPrice">Precio Mínimo</label>
                      <input type="number" class="form-control" id="minPrice" name="minPrice" placeholder="$0">
                    </div>
                    <div class="form-group">
                      <label for="maxPrice">Precio Máximo</label>
                      <input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="$1,000,000">
                    </div>
                  </form>
                  <div class="text-right mt-3">
                    <a href="#" class="btn btn-primary">Aplicar</a>
                  </div>
                </div>
              </div>
              
              <style>
                .badge-custom {
                  background-color: #000;
                  color: #fff;
                  float: right;
                }
              </style>
              
            </div>
        </div>
    </div>
</section>