RewriteEngine On
RewriteBase /proyectos/constructora/

# Si la URL no se refiere a un archivo o carpeta existente, muestra el archivo index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]