* {
  font-family: regular;
}
.logo-text {
  font-family: "bold";
  font-size: 40px;
  color: white;
}
h1 {
  font-size: 64px;
  font-family: bold;
}
.main_title {
  letter-spacing: 1px;
}
.banner_imagen_dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
}
.sub_banner {
  font-family: regular;
  font-size: 16px;
  position: relative;
  padding: 0 0 0 2em;
}
.sub_banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: white;
}
.btn-primary {
  background-color: #f33e35;
  border: 1px solid #f33e35;
}

.btn-primary:hover {
  background-color: #f33e35;
  box-shadow: #f33e35;
}
.banner_btn{
    font-size: 24px;
    font-family: bold;
    padding: 15px 50px 15px 50px;
}
svg,path{
    fill:#f33e35;
}
.icons{
    margin-top: 4em;
}
.icon{
    padding-right: 2.5em;
}
.icon svg{
    height: 40px;
}
.icon svg, .icon path{
    fill: white;
}
.navbar-nav li {
    padding-right: 20px;
    padding-left: 20px;
  }
.first-section{
    padding-top: 100vh;
}
.text-primary{
    color: #f33e35 !important;
}
.subtitle_bold{
    font-family: bold;
    font-size: 22px;
}
.title_main{
    font-size: 58px;
    font-family: bold;
}
.sub_text{
    color: #787878;
    font-size: 20px;
    font-family: regular;
}
.circle_icon{
    background-color: #f33e35;
    padding: 15px;
    border-radius: 50px;
}
.circle_icon path{
    fill: white;
}
.title_icon_card{
    font-size: 16px;
    font-family: bold;
}
.description_icon_card{
    font-size: 12px;
}
.content_card{
    padding-left: 2em;
}
.bg-primary{
    background-color: #f33e35 !important;
}
.svg_white path{
    fill: white;
}
.svg_text{
  font-size: 76px;
  font-family: bold;
  color: white;
}
.svg_subtext{
  font-family: regular;
  font-size: 24px;
  color: white;
}
.py-section{
  padding: 10em 0 10em;
}
.banner_centered{
  font-size: 46px;
  font-family: bold;
}
#card_bottom .btn-primary{
  font-size: 24px;
  font-family: bold;
}
.regular_24{
  font-size: 24px;
  font-family: regular;
}
.regular_22{
  font-size: 22;
  font-size: regular;
}
.bold_48{
  font-family: bold;
  font-size: 48px;
}
.contact_boton{
  background-color: white;
}
.regular_16{
  font-size: 14px;
  font-family: regular;
}
.format_footer a{
    text-decoration: none !important;
    color: #fff !important;
}
.format_footer h5{
  font-family: bold;
  font-size: 28px;
}
.format_footer li{
  font-size: 18px;
  font-family: regular;
}
.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
}

.input-group button {
  background: none;
  border: none;
  outline: none;
}
.mail_btn{
  background-color: #f33e35 !important;
}
.talk_card{
  width: 60%; background-color: #071C1F;
}

@media (max-width: 1200px) {
  .navbar-brand  span{
    display: none !important;
  }
  .empresa_nombre{
    font-size: 2em;
  }
  .talk_card{
    width:  100%;
  }
  .talk_card img{
    display: none;
  }
  #card_bottom .none_card_{
    display: none;
  }
  .md_full_btn{
    width: 100%;
    margin-top: 2em;
  }
  h1{
    font-size: 3em;
  }
  .banner_btn{
    font-size: 20px;
  }
  .sub_banner {
    font-size: 15px;
  }
}
.top_banner{
  color: #3D3D3D;
  font-size: 48px;
  font-family: bold;
}
.banner_sub{
  color: #9D9D9D;
  font-size: 16px;
  margin: 2em 0 2em 0;
}
[href]{
  color: #00A4F6;
  text-decoration: none;
}
.results{
  font-size: 20px;
}
.busqueda_input{
  background-color: #F2F6F7;
  border: none;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
}
.search_btn{
  padding: 22px 30px 22px 30px;
}
.search_btn svg, .search_btn path{
  fill: white;
}
.bold24{
  font-size: 24px;
  font-family: bold;
}
.moreinfo{
  text-decoration: none;
  font-size: 20px;
  font-family: medium;
  color: white;
}
.renta{
  color: #f33e35;
  text-transform: uppercase;
  font-size: 18px;
  font-family: regular;
  margin-bottom: 0;
}
.precio{
  font-family: semibold;
}
.title-2{
  font-family: bold;
  font-size: 1.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  position: sticky;
  padding-left: 10px;
}
.title-2::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #f33e35;
  top: 0;
  left: 0;
}
.ltn__menu-widget > ul{padding:0;margin:0;}
.ltn__menu-widget > ul li{list-style:none;margin-top:15px;display:block;font-size:14px;font-weight:700;}
.ltn__menu-widget > ul li span{float:right;color:red;}
.ltn__page-details-inner label{font-size:14px;}
.checkbox-item{display:inline-block;position:relative;padding-left:30px;margin-bottom:0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.checkbox-item input{position:absolute;opacity:0;cursor:pointer;height:0;width:0;}
.checkbox-item .checkmark{position:absolute;top:3px;left:0;height:16px;width:16px;background-color:var(--white);border:1px solid;border-color:#93959E;}
.checkbox-item .numero{position:absolute;top:-2px;left:0;height:16px;width:16px;background-color:var(--white);}
.checkbox-item:hover input ~ .checkmark{background-color:#f33e35;}
.checkbox-item input:checked ~ .checkmark{background-color:#f33e35;border-color:#f33e35;}
.checkbox-item .checkmark:after{position:absolute;content:"";display:none;}
.checkbox-item input:checked ~ .checkmark:after{display:block;}
.checkbox-item .checkmark:after{left:4px;top:0px;width:5px;height:10px;border:solid #fff;border-width:0 1px 1px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.logoprop{
  max-width: 70px;
    object-fit: none;
    margin: 2em 0;
}
.swiper {
  width: 100%;
  height: 60vh;
}
.title{
  font-family: bold;
  font-size: 2.5em;
}
[refnav],[externalref]{
  cursor: pointer;
}

.prop-slidder{
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:0px!important;
  margin-right: 30px!important;
  background-position: center;
  height: 99%!important;
}

/* Ocultar botones en dispositivos móviles */
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next,.swiper-pagination {
    display: none !important;
  }
  
}