@font-face {
    font-family: 'thin';
    src: url('/proyectos/constructora/assets/fonts/thin.ttf') format('truetype');
}
@font-face {
    font-family: 'extralight';
    src: url('/proyectos/constructora/assets/fonts/extralight.ttf') format('truetype');
}
@font-face {
    font-family: 'light';
    src: url('/proyectos/constructora/assets/fonts/light.ttf') format('truetype');
}
@font-face {
    font-family: 'medium';
    src: url('/proyectos/constructora/assets/fonts/medium.ttf') format('truetype');
}
@font-face {
    font-family: 'regular';
    src: url('/proyectos/constructora/assets/fonts/regular.ttf') format('truetype');
}
@font-face {
    font-family: 'semibold';
    src: url('/proyectos/constructora/assets/fonts/semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'bold';
    src: url('/proyectos/constructora/assets/fonts/bold.ttf') format('truetype');
}
@font-face {
    font-family: 'extrabold';
    src: url('/proyectos/constructora/assets/fonts/extrabold.ttf') format('truetype');
}
@font-face {
    font-family: 'black';
    src: url('/proyectos/constructora/assets/fonts/black.ttf') format('truetype');
}